# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Superpowers execution scratch
.superpowers/

# Misc
# Env files
.env*
.env.local
.env.production
.env.development
